* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh; 
    background: #222; 
}

.nav { 
    position: relative; 
    left: 250px;
    top: 100px;
    width: 250px; 
    z-index: 1;
}

.toggle {
    position: relative; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 50px; 
    background: ghostwhite;
    cursor: pointer;
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    font-size: 1.5em;
    padding: 4px 14px;
}

.toggle::before {
    content: "Menu";
    margin-right: 10px;
}

.toggle.active::before {
    content: "Close";
   
}


/*

nav ul li {
    list-style: none;
    padding: 0px 0px;
} */



.nav a {
    display: block; 
    color: ghostwhite; 
    text-decoration: none; 
    font-size: 1.5em;
    width: 100%;
    padding: 10px 24px;
}

.nav a:hover {
    background-color: ghostwhite; 
    filter: opacity(1);
    color: rgb(64, 73, 199);
    transition: 0.3s;
    border-bottom: 1px dashed black;
}

a:hover::before {
    content: '»';
    position: absolute; 
    left: 4px;
}


.toggle span {
    position: relative; 
    width: 20px; 
    height: 50px; 
    background: ghostwhite;
    
}

.toggle span::before { 
    content: '';
    position: absolute; 
    top: 20px; 
    left: 0; 
    width: 100%;
    height: 2px; 
    background: #222;  /* rgb(64, 73, 199);*/
    /* transform: rotate(40deg); */
    transition: 0.2s;
    
}

.toggle span::after { 
    content: '';
    position: absolute; 
    bottom: 20px; 
    left: 0; 
    width: 100%;
    height: 2px; 
    background: #222; /* rgb(64, 73, 199);*/
    /* transform: rotate(-40deg); */
    transition: 0.2s;
}

.toggle.active span::before {
    transform: rotate(225deg);
    top: 24px;
}

.toggle.active span::after {
    transform: rotate(135deg);
    bottom: 24px;
}



ul {
    position: relative; 
    list-style: none; 
    display:flex; 
    flex-direction: column;
}



ul li {
    position: relative; 
    list-style: none; 
    transition: 0.5s;
    visibility: visible; 
    opacity: 0; 
    /* Slide in from the left over the horizontal X-axis */
    transform: translateX(-250px);
    /* Calculate the 'bar' delay */
    transition-delay: calc(0.15s * var(--i));
}


.nav.active ul li {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
    background:rgb(64, 73, 199)
    
        
    /* 
    #7a7171;

    */
   
}

